<div class="container">
    <h2 class="title-lg mb">Редактирование задачи: <%= @task.id %></h2>

    <%= render 'form', task: @task %>

    <p class="mt"><%= link_to "Все задачи", tasks_path %></p>
</div>