<div class="item mb-sm">
  <h2 class="item-title"><%= category.name %></h2>
</div>

<div class="item-footer text-sm">
    <div class="item-date text-grey"></div>
    <div class="item-actions">
      <%= link_to fa_icon("pencil"), edit_category_path(category),
        title: 'изменить категорию', class: 'edit-item'%>
      <%= button_to fa_icon("trash-o"), category_path(category),
        method: :delete, title: 'удалить категорию', class: 'delete-item'%>
    </div>
</div>
