<div class="container">
    <h2 class="title-lg mb">Редактирование категории: <%= @category.id %></h2>

    <%= render 'form', category: @category %>
    
    <p class="mt"><%= link_to "Все категории", categories_path %></p>
</div>